.LandingPage {
  text-align: center;
  min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LandingPage a {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
}

.LandingPage a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
}

.LandingPage img {
  width: 100%;
}