.details {
  display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
}

.details img {
  width: 100%;
  height: 600px;
}

.cafeDescription {
  border: 1px solid black;
  margin-top: 20px;
  padding: 20px 20px;
}

h1 {
  text-align: center;
}