body {
  font-family: 'Kalam', cursive;
  font-size: 1.7rem;
  background-color: #fcf0cf !important;


}

.mainSection {
  padding: 80px 20px;
}

.shadow{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}