.HomePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.HomePage img {
  max-width: 400px;
  max-height: 400px;
  padding: 10px 20px;
}

.cafes {
  text-align: center;
  margin-top: 30px;
}

.searchCity {
  margin-top: 30px;
}